<!DOCTYPE html>
<html>

<head>
    <title>
        Alert Investigator
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default" style="margin-bottom: 0em;">
        <div class="container" style="background-color: #2e2e2e;width: auto;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: antiquewhite;" href="/index">Alert Investigator</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style=" color: antiquewhite;" href="/about">About</a></li>
                    <li><a style="color: antiquewhite;" href="/index">Home</a></li>
                    <li><a style="color: antiquewhite;" href="/download">Download</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </nav>
    <div style="margin:0; padding: 0;position: relative;">
        <img src="static/images/back.jpg" alt="background" height="99.9%" width="99.9%">
        <p style="position: absolute; left: 18%; top: 30%; color: rgb(53, 18, 7); font-size:50px;">An Open-Source Alert
            Investigator</p>
    </div>
    <div class="container" style="margin-left: 18%; margin-top: 50px;">
        <p style="font-size:50px;">About me</p>
        <div style="margin-left: 40px; margin-top: 20px; font-size:20px; font-weight: 100; color: black;">
            <p>Creator: Zixiang Yin</p>
            <p>My email address is: zxy1498@gmail.com</p>
            <p>
                You can also visit my <a style="text-decoration: none;color: #DB7093;"
                    href="github.com/zxy1498.com">GitHub Homepage</a>
            </p>
            <p>If you are interested in this website, please feel free to contact me!</p>
        </div>
    </div>
    <div class="container" style="margin-left: 18%; margin-top: 50px;">
        <p style="font-size:50px;">About the website</p>
        <div style="margin-left: 40px; margin-top: 20px; font-size:20px; font-weight: 100; color: black;">
            <p>This is an open-source Alert Investigator.</p>
            <p>Notes:</p>
            <div style="color: #DB7093; font-size: 16px; margin-left: 40px;">
                <p>1. New alert events could only be posted through APIs after the authorization is completed.</p>
                <p>2. The website only displays a few alert events.</p>
                <p>3. Sample alert events were created in October 2019. If you want to export them, please set</p>
                <div style="margin-left: 19px;">an appropriate date range.</div>
                <br>                
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>