{% extends 'bootstrap/base.html' %}


{% block head %}
<link rel="Icon" href="static/images/alert.png" type="image/x-icon" />
<title>Alert Investigator</title>
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container" style="background-color: #2e2e2e;width: auto;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: antiquewhite;" href="{{ url_for('main.index') }}">Alert
                Investigator</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a style="color: antiquewhite;" href="{{ url_for('main.about') }}">About</a></li>
                <li><a style="color: antiquewhite;" href="{{ url_for('main.index') }}">Home</a></li>
                <li><a style="color: antiquewhite;" href="{{ url_for('main.download') }}">Download</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right"></ul> -->
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

<script>
    $(function () {
        var timer = null;
        var xhr = null;
        $('.user_popup').hover(
            function (event) {
                // mouse in event handler
                var elem = $(event.currentTarget);
                timer = setTimeout(function () {
                    timer = null;
                    xhr = $.ajax(
                        '/user/' + elem.first().text().trim() + '/popup').done(
                            function (data) {
                                xhr = null;
                                elem.popover({
                                    trigger: 'manual',
                                    html: true,
                                    animation: false,
                                    container: elem,
                                    content: data
                                }).popover('show');
                                flask_moment_render_all();
                            }
                        );
                }, 1000);
            },
            function (event) {
                // mouse out event handler
                var elem = $(event.currentTarget);
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                else if (xhr) {
                    xhr.abort();
                    xhr = null;
                }
                else {
                    elem.popover('destroy');
                }
            }
        );
    });
</script>
{% endblock %}